.sizecontainer{
  max-width: 647px;
  min-width: 647px;
 // margin-top: 80px;

}

input{
    width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
 -webkit-box-shadow: 0 0 0 30px #1435a0 inset !important;
 -webkit-text-fill-color: white !important;
 -webkit-text-size-adjust: bold;
 font-weight: bold;
}

.containerTitle{
  opacity: 0;
  transition:  opacity 500ms ease-out 300ms;

}

.containerTitle.active{
  opacity: 1;
}


.stepnumber{
    /*border:1px solid rebeccapurple;*/
    background-color: #9c9c9c42;
    border-radius: 50px;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rebeccapurple;
    font-weight: bold;
    transition: 1s ease;
    

}

.stepnumber.active{
    background-color: rebeccapurple;
    color: white;
}

.line{
    width: 20%;
    height: 5px;
   /* border:1px solid rebeccapurple;*/
    background-color: #9c9c9c42;
    transition: 0.8s ease;

  
}

.line.active{
    background-color: rebeccapurple;
    border:none;

}



.containerForm{
  direction: block;
    width: 100% ;
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition:  opacity 500ms ease-out 300ms;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center; 
}

.containerForm.active{
    visibility: visible;
    opacity: 1;
    z-index: 100;


}

.btn-simple{
    border-radius: 2rem;
    border:none;
    padding:0.4rem 2.5rem;
    font-weight: bold;
    margin: 0 0.5rem;
    outline: none !important;
}

.btn-simple.btn-border{
    border:#1435a0 1px solid;
    color: #1435a0;
    background-color: transparent;
}

.btn-simple.btn-full-bgcolor{
    background-color: #1435a0;
    color:white;
}

input[type="text"],input[type="email"]{
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  border: none;
  background: #1435a0 !important;
  color:white;
  padding: 8px 20px;
  border-radius: 8px;
  outline: none !important;
  font-weight: bold;


}


label{
  font-weight: bold;
}

select{
  outline: none !important;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../../assets/arrow-down-sign-to-navigate.svg') center right .8rem no-repeat #1435a0 !important;
  background-position: right .5rem 0 bottom !important;
  background-size: .8rem !important;
}

option{
  color: whitesmoke;
  font-weight: bold;
}

input::placeholder{
  color: whitesmoke;
  font-weight: bold;
}




/////////////////////////////////////////////////@at-root
.switch {
	position: relative;
	display: block;
	//vertical-align: top;
	width: 100px;
	height: 30px;
	padding: 3px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing:content-box;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #1435a0;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 74px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
 
/* Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}


